 .card-img{
    overflow: hidden;
}
.img{

      transition: all 0.7s ease;
}
      .card {
    border: 2px solid #2C3E50 !important;
    transition: 0.5s;
    color: #2C3E50 !important;
}
.card:hover{
    box-shadow: 0 4px 8px 0 #2C3E50, 0 6px 20px 0 #2C3E50;
}
        .card:hover .img {
            transform: scale(1.4);
            transition: 0.7s ease-in-out;
    
}
        